[Unit]
Description=Crossbar.io
After=network.target

[Service]
Type=simple
User=root
Group=root
StandardInput=null
StandardOutput=journal
StandardError=journal
ExecStart=/usr/local/bin/crossbar start --cbdir=/etc/crossbar
Restart=on-abort

[Install]
WantedBy=multi-user.target
