[Unit]
Description=Stack4Things IoTronic
Wants=node-reverse-wstunnel.service
After=node-reverse-wstunnel.service network.target

[Service]
Type=simple
User=root
Group=root
StandardInput=null
StandardOutput=journal
StandardError=journal
WorkingDirectory=/usr/lib/node_modules/iotronic-standalone
Environment="NODE_PATH=/usr/lib/node_modules"
Environment="IOTRONIC_HOME=/var/lib/iotronic"
ExecStart=/usr/lib/node_modules/iotronic-standalone/bin/server
Restart=on-abort

[Install]
WantedBy=multi-user.target
