[Unit]
Description=wstun
After=network.target

[Service]
Type=simple
User=root
Group=root
StandardInput=null
StandardOutput=journal
StandardError=journal
Environment="NODE_PATH=/usr/lib/node_modules"
ExecStart=/usr/bin/wstun -r -s 8080 --ssl=true --key="<KEY>" --cert="<CERT>"
#ExecStart=/usr/bin/wstun -r -s 8080 --ssl=false
Restart=on-abort

[Install]
WantedBy=multi-user.target
